
img{
  width:640px;

}
h1{
  font-size:70px;
  font-style:normal;

}
p{
	font-size: 30px;
	font-style: oblique;
}

.gallery{

	display: flex;
  flex-direction: column;
  align-items: center;


  padding: 20px;
  border: 10px inset grey;


}
img {
  height: 200px;
  width: 300px;
}

div.second {
  padding: 15px;
  text-align: center;
}
